#segunda-apresentacao {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5vh 0;
    background: #fff;

    h2 {
        color: var(--cor-primaria);
        font-weight: bolder;
        font-size: 30px;
        text-align: center;
    }

    img {
        width: 11vw;
    }
}

#terceira-apresentacao {
    width: 100%;
    padding: 5vh 0;
    background-color: var(--separar-paginas);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;

    h2 {
        color: var(--cor-secundaria);
        font-weight: bolder;
        font-size: 30px;
        text-align: center;
    }

    img {
        width: 15vw;
        border-radius: 10px;
    }
}

#icones-desenvolvimento {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--cor-branca);
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 6vh;
    font-size: 50px;
    color: var(--cor-primaria);
}

.todos-os-cards{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

#cards-feedbacks {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (max-width: 1080px){
    #segunda-apresentacao {
        img {
            width: 30vw;
            margin-top: 1vh;
        }
    }

    #terceira-apresentacao {
        img {
            width: 36vw;
            border-radius: 10px;
        }
    }

    #github-card {
        width: 90%;
        padding: 3vh 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;    
    }

    #texto-github-card {
        max-width: 50vw;
    }

    #icones-desenvolvimento {
        font-size: 25px;
        margin-top: 2vh;
    }
}