.card-projetos {
    width: 400px;
    height: 300px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px var(--cor-secundaria);
    margin-bottom: 2vh;
    position: relative;
    overflow: hidden;
}

.card-projetos img {
    width: 400px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
}

.card-projetos h3 {
    color: var(--cor-secundaria);
    font-weight: bolder;
    z-index: 2;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* Background semi-transparente para melhor visibilidade do texto */
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.card-projetos img:hover {
    filter: brightness(0.4);
}

.card-projetos hr {
    color: var(--cor-branca);
    margin: 0 5vw;
    margin-bottom: 3vh;
    opacity: 0.4;
}

@media (max-width: 1080px) {
    .card-projetos {
        margin: 2vh 0;
        width: 44vw;
        height: 25vh;
        font-size: 13px;
    }

    .card-projetos img {
        width: 100%;
        height: 100%;
    }

    .card-projetos hr {
        margin-left: 11vw;
        margin-right: 11vw;
        margin-top: -0.5vh;
        margin-bottom: 1vh;
    }

    h2 {
        padding: 2vh 3vw;
    }
}