.card-projetos{
    width: 18vw;
    height: 50vh;
    margin: 5vh 0;
    padding: 0 0.1vw;
    color: var(--cor-branca);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background: var(--cor-primaria);
    border-radius: 15px;
    box-shadow: 2px 2px 6px #0f0f0f34;
}

.card-projetos div{
    background: transparent;
}

.card-projetos h3 {
    color: var(--cor-branca);
    padding-bottom: 2vh;
    font-weight: bolder;
}

.card-projetos a{
    font-size: 17px;
    width: 100%;
    color: var(--separar-paginas);
    text-decoration: none;
    padding: 1vh 3vw;
    font-weight: bolder;
    border-radius: 20px;
}

.card-projetos a:hover {
    opacity: 90%;
    cursor: pointer;
    transition: ease 0.2s;
}

.card-projetos img{
    width: 15vw;
    object-fit: cover;
    padding-bottom: 2vh;
}

.card-projetos hr{
    color: var(--cor-branca);
    margin: 0 5vw;
    margin-bottom: 3vh;
    opacity: .4;
}

@media (max-width: 1080px){
    .card-projetos{
        margin: 2vh 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44vw;
        height: 25vh;
        font-size: 13px;
    }

    .card-projetos img{
        width: 20vw;
    }

    .card-projetos hr{
        margin-left: 11vw;
        margin-right: 11vw;
        margin-top: -0.5vh;
        margin-bottom: 1vh;
    }

    h2 {
        padding: 2vh 3vw;
    }
}