:root {
    --cor-primaria: #ba704f;
    --cor-secundaria: #6c3428;
    --cor-branca: #fff;
    --cor-preto: #000;
    --separar-paginas: #eed6c4;
    --vermelho-escuro: #bf0404;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;

    ::selection {
        background-color: var(--cor-primaria);
        color: var(--cor-branca);
    }
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: var(--cor-primaria);
    width: 10px;
}

/* Padronizações de Páginas */

.titulo-colorido {
    text-align: center;
    color: var(--cor-primaria);
    font-weight: bolder;
    font-size: 30px;
}

.titulo-branco {
    text-align: center;
    color: var(--cor-branca);
    font-weight: bolder;
    font-size: 30px;
}

#segunda-apresentacao {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5vh 0;
}

#terceira-apresentacao {
    width: 100%;
    background-color: var(--separar-paginas);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5vh 0;

    .img-registros {
        width: 16vw;
        border-radius: 10px;
        box-shadow: 3px 3px 8px var(--cor-primaria);
    }
}

#quarta-apresentacao {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5vh;
    padding-bottom: 5vh;
}

#quarta-apresentacao h2 {
    padding-top: 5vh;
}

.img-registros {
    width: 15vw;
    margin-top: 5px;
}

/* Ícones Importantes */
#icones-principais {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--cor-branca);
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 6vh;
    font-size: 50px;
    color: var(--cor-primaria);
}

/* Estilização de Cards */

.todos-os-cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.todos-os-registros {
    width: 100%;
    padding: 2vh 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Responsividades */

@media (max-width: 1080px) {
    #segunda-apresentacao {
        margin: 5vh;
        padding: 2vh 0;
    }

    #segunda-apresentacao div img {
        width: 20vw;
    }

    #terceira-apresentacao {
        h2 {
            font-size: 30px;
        }

        .img-polaroids {
            margin-top: 3vh;
            width: 50vw;
        }
    }

    #quarta-apresentacao {
        h2 {
            margin-top: -10vh;
            font-size: 30px;
        }
    }

    #icones-principais {
        font-size: 25px;
        margin-top: 2vh;
        padding: 0;
    }

    .card {
        width: 30vw;
        height: 10vh;
    }

    .card img {
        width: 25vw;
    }
}
