:root{
    --cor-primaria: #BA704F;
    --cor-secundaria: #6C3428;
    --cor-branca: #fff;
    --cor-preto: #000;
    --separar-paginas: #EED6C4;
    --vermelho-escuro: #BF0404;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

    ::selection {
        background-color: var(--cor-primaria);
        color: var(--cor-branca);
    }
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}
  
body::-webkit-scrollbar-thumb {
    background: var(--cor-primaria);
    width: 10px;
}

/* Padronizações de Páginas */

.titulo-colorido {
    text-align: center;
    color: var(--cor-primaria);
    font-weight: bolder;
    font-size: 30px;
}

.titulo-branco {
    text-align: center;
    color: var(--cor-branca);
    font-weight: bolder;
    font-size: 30px;
    padding-top: 14vh;
}

#segunda-apresentacao {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5vh 0;
}

#segunda-apresentacao div img {
    width: 11vw;
}

#terceira-apresentacao {
    width: 100%;
    padding-top: 5vh;
    background-color: var(--separar-paginas);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;

    .img-polaroids {
        margin-top: 7vh;
        width: 16vw;
    }
}

#quarta-apresentacao {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--cor-secundaria);
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5vh;
}

#quarta-apresentacao h2 {
    padding-top: 5vh;
}

/* Ícones Importantes */
#icones-principais {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--cor-branca);
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 6vh;
    font-size: 50px;
    color: var(--cor-primaria);
}

/* Estilização de Cards */

.todos-os-cards{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.todos-os-registros {
    width: 100%;
    padding: 2vh 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Responsividades */

@media (max-width: 1080px){
    #segunda-apresentacao {
        padding: 2vh 0;
    }

    #segunda-apresentacao div img {
        width: 20vw;
    }

    #terceira-apresentacao { 
        h2 {
            font-size: 30px; 
        }  

        .img-polaroids {
            margin-top: 3vh;
            width: 50vw;
        }
    }

    #quarta-apresentacao { 
        h2 {
            margin-top: -10vh;
            font-size: 30px; 
        }
    }

    #icones-principais {
        font-size: 25px;
        margin-top: 2vh;
        padding: 0;
    }
}